body {
  display: flex;
  justify-content: center;
}
.container {
  width: 925px;
  height: 700px;
  color: rgb(223, 128, 226);
}
.header {
  display: flex;
  justify-content: space-between;
}

#month {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 50px;
}

.weekdays {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.weekdays div {
  width: 100%;

  display: flex;
  justify-content: center;
}

#calendar {
  width: 100%;

  display: flex;
  flex-wrap: wrap; /* Arranged in multiple rows */
}

.day {
  display: flex;

  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;

  border: solid 1px rgb(223, 128, 226);
}

.day:hover {
  background-color: rgba(235, 172, 245, 0.723);
}
