body {
  display: flex;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 22px;

  width: 910px;
  height: 900px;

  color: rgba(221, 73, 201, 0.839);
}

.header {
  display: flex;
  justify-content: space-between;
}

#month {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 30px;
}

#btn {
  margin: 30px;
}

button {
  font-size: 15px;
  width: 80px;
  padding: 10px;
  margin: 2px;

  border: none;
  border-radius: 5px;
  /*background-color: rgb(151, 236, 195);
  background-color: rgba(173, 255, 183, 1);*/
  background-color: rgba(221, 204, 204);
  color: white;
}

button:hover {
  /*background-color: rgb(128, 208, 152);*/
  background-color: rgba(147, 229, 182, 0.839);
}

.weekdays {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.weekdays div {
  width: 100%;

  display: flex;
  justify-content: center;
}

#calendar {
  width: 100%;

  display: flex;

  flex-direction: row;

  flex-wrap: wrap; /* Arranged in multiple rows */

  padding-bottom: 50px;
}

.day {
  display: flex;

  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;

  color: white;
  background-color: rgb(241, 172, 245);

  border-radius: 5px;
}

.day:hover {
  background-color: rgba(221, 73, 201, 0.839);

  /*background-color: rgba(235, 172, 245, 0.723);*/
}

.today {
  background-color: rgba(221, 73, 201, 0.839);

  display: block;
}

.event {
  display: block;
}
.title {
  display: flex;
  align-items: center;

  background-color: rgb(204, 255, 229);

  color: rgba(232, 91, 213, 0.839);

  font-size: 18px;
  padding: 3px;
  margin: 2px;

  border-radius: 5px;
}

.padding {
  background-color: transparent;
}

.padding:hover {
  background-color: transparent;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  color: rgb(104, 101, 101);
  font-family: Georgia, "Times New Roman", Times, serif;

  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  border-radius: 5px;
  width: 500px; /* Could be more or less, depending on screen size */
  height: 200px;
}

#newInputField,
#editInputField {
  font-size: 20px;

  background-color: transparent;
  color: rgb(104, 101, 101);

  border: solid 1px rgb(104, 101, 101);
  border-radius: 5px;
  width: 200px;
  height: 40px;
  padding: 5px 1rem;
}
#newInputField input,
#editInputField input {
  width: 100%;
  background: transparent;
  padding: 10px;
}

#newInputField::placeholder,
#editInputField::placeholder {
  color: white;
  font-size: 20px;
  text-align: center;
}

input:focus {
  outline: none; /* delete border on click */
}

#save {
  background-color: rgba(147, 229, 182, 0.839);
}
#save:hover {
  background-color: rgba(124, 194, 154, 0.839);
}

#edit {
  background-color: rgba(147, 229, 182, 0.839);
}
#edit:hover {
  background-color: rgba(124, 194, 154, 0.839);
}

#delete {
  background-color: rgba(240, 128, 128, 1);
}
#delete:hover {
  background-color: rgb(206, 108, 108);
}

#cancel {
  background-color: rgba(221, 204, 204);
  /*background-color: rgba(240, 128, 128, 1);*/
}
#cancel:hover {
  background-color: rgb(187, 173, 173);
}
#cancelEdit {
  background-color: rgba(221, 204, 204);
  /*background-color: rgba(240, 128, 128, 1);*/
}
#cancelEdit:hover {
  background-color: rgb(187, 173, 173);
}
